<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="estilos/administracion.css">
    <script
    src="https://kit.fontawesome.com/435941fa36.js" >
    crossorigin="anonymous"</script>
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body>
    <nav></nav>
    <main>
        <h1>Administración</h1>
        <div id="app" style="margin: 2ch 0;">
            <section class="tabla">
                <div class="tabla-encabezado">
                    <div class="opciones">
                        <h2 
                            :class = "['titulo', rutaActiva.productos]"
                            v-on:click = "establecerRuta('productos')"
                        >
                            Productos
                        </h2>
                        <h2 
                            :class="['titulo', rutaActiva.usuarios]" 
                            v-on:click="establecerRuta('usuarios')"
                        >
                            Usuarios
                        </h2>
                        <h2 
                            :class="['titulo', rutaActiva.tipos]" 
                            v-on:click="establecerRuta('tipos')"
                        >
                            Tipos de producto
                        </h2>
                    </div>
                    <button class="agregar" v-on:click = "crear()"><i class="fa-solid fa-plus"></i>Nuevo</button>
                </div>
                <div class="tabla-cuerpo">
<!--                     <div class="tabla-busqueda">
                        <select name="" id="">
                            <option value="id">id</option>
                            <option value="nombre">nombre</option>
                            <option value="precio">precio</option>
                        </select>
                        <input type="text">
                        <button><i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
                    </div> -->
                    <div class="tabla-listado">
                        <template v-if = "cargando">
                            ... esta cargando espera un poquito a que se transladen los datos de la base de datos a esta instancia en el cliente de la aplicacion ... 
                        </template>
                        <template v-else>
                            <template v-if="rutaActiva.productos">
                                <template v-for="producto in datos">
                                    <div class="item">
                                        <div class="datos">
                                            <span class="imagen" style="
                                                background: #222;
                                                border-radius: 4px;
                                            ">
                                                <template v-if="producto.imagen">
                                                    <img :src="producto.imagen" alt="#">
                                                </template>
                                                <template v-else>
                                                    <div style="
                                                        width: 80px;
                                                        height: 80px;
                                                        border-radius: 4px;
                                                    "></div>
                                                </template>
                                            </span>
                                            <div class="columna">
                                                <div class="fila">
                                                    <div class="datos-cortos">
                                                        <span class="nombre"><strong>Nombre:</strong> {{producto.nombre}}</span>
                                                        <span class="precio"><strong>Precio:</strong> {{producto.precio}}</span>
                                                        <span class="inventario"><strong>Inventario:</strong> {{producto.inventario}}</span>
                                                        <span class="inventario"><strong>Tipo:</strong> {{producto.tipo}}</span>
                                                    </div>
                                                    <div class="opciones">
                                                        <button v-on:click="modificar(producto)"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
                                                        <button v-on:click = "eliminar(producto.id)"><i class="fa-solid fa-trash"></i>Eliminar</button>
                                                    </div>
                                                </div>
                                                <span class="descripcion"><strong>Descripcion:</strong> {{producto.descripcion}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                            <template v-if="rutaActiva.usuarios">
                                <div class="item usuarios" v-for="usuario in datos">
                                    <div class="datos">
                                        <div class="columna">
                                            <div class="fila">
                                                <div class="datos-cortos">
                                                    <span class="esAdministrador">
                                                        <template v-if="usuario.esAdministrador">
                                                            <span class="administrador">Administrador</span>
                                                        </template>
                                                        <template v-else>
                                                            <span class="cliente">Cliente</span>
                                                        </template>
                                                    </span>
                                                    <span class="nombre"><strong>Nombre:</strong> {{usuario.nombre}}</span>
                                                    <span class="clave"><strong>Clave:</strong> {{usuario.clave}}</span>
                                                </div>
                                                <div class="opciones">
                                                    <button v-on:click="modificar(usuario)"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
                                                    <button v-on:click="eliminar(usuario.id)"><i class="fa-solid fa-trash"></i>Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-if="rutaActiva.tipos">
                                <div class="item tipos" v-for="tipo in datos">
                                    <div class="datos">
                                        <div class="columna">
                                            <div class="fila">
                                                <div class="datos-cortos">
                                                    <span class="clave"><strong>id: </strong> {{tipo.id}}</span>
                                                    <span class="nombre"><strong>nombre: </strong> {{tipo.nombre}}</span>
                                                </div>
                                                <div class="opciones">
                                                    <button v-on:click="modificar(tipo)"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
                                                    <button v-on:click="eliminar(tipo.id)"><i class="fa-solid fa-trash"></i>Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </section>
            <dialog open>
                <div class="dialog-encabezado">
                    <h3>Nuevo producto</h3>
                    <button><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="dialog-cuerpo">

                </div>
            </dialog>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src = "./codigos/navegacionYPie.js"></script>
        <script type="module" src="./codigos/administracion.js"></script>
    
    </main>
    <footer></footer>
</body>
</html>