<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>login</title>
  <script src="https://kit.fontawesome.com/435941fa36.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="./estilos/login.css" />
  <link rel="stylesheet" href="./estilos/footer.css" />
  <link rel="stylesheet" href="./estilos/style.css" />
</head>

<body>

  <nav></nav>

  <main>
    <section class="container-login forms">

      <div class="form login" style="background-color: #f5f5f5; padding: 2ch; border-radius: 4px;">
        <div class="form-content" >
          <header>Ingresá</header>
          <form action="#" onsubmit="return false;" id="formulario">
            <div class="field input-field">
              <input placeholder="Nombre de usuario" class="input nombre-ingreso" v-model="nombre" />
            </div>

            <div class="field input-field">
              <input placeholder="Contraseña" class="password clave-ingreso" v-model="clave" />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="form-link">
              <div class="centrarCheckbox">
                <input type="checkbox" id="recordarMail" name="recordar">
                <label for="recordarMail" class="recordarMail">Recordar nombre de usuario</label>
              </div>
            </div>
            <div class="form-link">
              <a href="#" class="forgot-pass">Olvidaste tu contraseña?</a>
            </div>

            <div id="btn-ingresa" class="field button-field">
              <button id="ingresa" v-on:click="iniciar()">Ingresá</button>
            </div>
          </form>

          <div class="form-link">
            <span>Todavía no tenés una cuenta?
              <a href="./registro.html" class="link signup-link">Registrate</a></span>
          </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
          <a href="#" class="field facebook">
            <i class="bx bxl-facebook facebook-icon"></i>
            <span>Ingresá con Facebook</span>
          </a>
        </div>

        <div class="media-options">
          <a href="" class="field google">
            <img
              src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA"
              alt="" class="google-img" />
            <span>Ingresá con Google</span>
          </a>
        </div>
      </div>
    </section>
  </main>

  <footer></footer>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="codigos/navegacionYPie.js"></script>

  <script type="module" src="./codigos/login.js"></script>

</body>

</html>