<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../estilos/formulario.css">
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body>
    <nav></nav>
    <div class="formulario">
        <div class="formulario-encabezado">
            <h1>Formulario</h1>
        </div>
        <div class="formulario-cuerpo" id="app">
            <div class="principal">
                <div class="contenido">
                    <div class="subtitulo">
                        <h2>{{accion}} {{a}} {{seleccion}}</h2>
                    </div>
                    <template v-if="peticion.ruta">
                        <div class="campos">
                            <input type="text" :placeholder="clave" v-for="(valor, clave) in modelo" v-model="modelo[clave]">
                        </div>
                    </template>
                </div>
                <div class="acciones">
                    <button v-on:click="cancelar()">Cancelar</button>
                    <button v-on:click="confirmar()">Confirmar</button>
                </div>
            </div>
            <div class="lateral">
                <div class="campo-imagen">
                    <input type="text" placeholder="imagen" v-model = "modelo.imagen">
                </div>
                <div class="imagen">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvW3dC9Vm5QdVTLw8nzF3A8XF8veYIpzJ1Cg&s" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../codigos/navegacionYPie.js"></script>
    <script type="module" src="../codigos/formulario.js"></script>
    <footer></footer>
</body>
</html>