<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../estilos/formulario.css">
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body>
    <nav></nav>
    <div class="formulario">
        <div class="formulario-encabezado">
            <h1>Formulario</h1>
        </div>
        <div class="formulario-cuerpo" id="app">
            <div class="principal">
                <div class="contenido">
                    <div class="subtitulo">
                        <h2>{{accion}} {{a}} {{seleccion}}</h2>
                    </div>
                    <template v-if="peticion.ruta">
                        <div class="campos">
                            <template v-for="(valor, clave) in modelo">
                                <template v-if="!['id', 'tipo', 'tipo_id', 'imagen', 'esAdministrador'].includes(clave)">
                                    <input type="text" :placeholder="clave"  v-model="modelo[clave]">
                                </template>
                                <template v-else>
                                    <template v-if="clave == 'tipo_id'">
                                        <select v-model="modelo.tipo_id">
                                            <option v-for="opcion in tiposParaProducto" :key="opcion.id" :value="opcion.id">{{opcion.nombre}}</option>
                                        </select>
                                    </template>
                                    <template v-if="clave == 'esAdministrador'">
                                        <label for="">
                                            <input type="checkbox" v-model="modelo[clave]">
                                            Administrador
                                        </label>
                                    </template>
                                </template>
                            </template>
                        </div>
                    </template>
                </div>
                <div class="acciones">
                    <button v-on:click="cancelar()">Cancelar</button>
                    <button v-on:click="confirmar()">Confirmar</button>
                </div>
            </div>
            <div class="lateral">
                <template v-if="Object.hasOwn(modelo, 'imagen') && peticion.ruta != 'usuarios'">
                    <div class="campo-imagen">
                            <input type="text" placeholder="imagen" v-model = "modelo.imagen">
                        </div>
                    </div>
                    <div class="imagen">
                        <img :src="modelo.imagen" alt="">
                    </div>
                </template>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../codigos/navegacionYPie.js"></script>
    <script type="module" src="../codigos/formulario.js"></script>
    <footer></footer>
</body>
</html>