<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alimentos</title>
    <script
      src="https://kit.fontawesome.com/435941fa36.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../estilos/login.css" />
    <link rel="stylesheet" href="../estilos/footer.css" />
    <link rel="stylesheet" href="../estilos/style.css" />
    <link rel="stylesheet" href="../estilos/alimentos.css" />
  </head>
  <body>
    <nav></nav>
    <h1>Alimento Para Gatos</h1>
    <main>
      <div id="productos">
        <div class="fila" v-for="fila in filas">
          <div class="tarjeta" v-for="producto in fila">
              <img :src="producto.imagen" alt="" style="max-height: 180px">
              <h3>{{producto.nombre}}</h3>
              <p>{{producto.precio}}</p>
              <p>{{producto.descripcion}}</p>
              <p>{{producto.inventario}}</p>
              <button v-on:click="reducirInventario(producto)">Comprar</button>
          </div>
        </div>    </main>
    <footer></footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../codigos/navegacionYPie.js"></script>
    <script src="../codigos/cargaProductos.js"></script>
  </body>
</html>
